@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "League Spartan", sans-serif;
  font-family: "Manrope", sans-serif;
  background-color: var(--bg-light-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}
