:root {
  --primary-color: #7c5dfa;
  --secondary-color: #9277ff;
  --bg-primary-color: #1e2139;
  --bg-secondary-color: #252945;
  /* --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --text-color: #212529;
  --background-color: #ffffff;
  --border-color: #dee2e6; */
}
